body {background:#000;
font-family: arial;
font-size: 12px;
height: 100%;

}


.sliderbox{
height: 217px;
width: 879px;
float: left;
}

.sliderboxtop{
height: 11px;
width: 879px;
float: left;
background:url(../images/home_18.jpg) no-repeat 0 0;
}
.sliderboxmiddleleft{
height: 194px;
width: 14px;
float: left;
background:url(../images/home_19.jpg) no-repeat 0 0;
}
.sliderboxmiddleright{
height: 194px;
width: 12px;
float: left;
background:url(../images/home_21.jpg) no-repeat 0 0;
}
.sliderboxbottom{
height: 12px;
width: 879px;
float: left;
background:url(../images/home_22.jpg) no-repeat 0 0;
}
#content{
height: 194px;
width: 853px;
float: left;
}

    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
			

/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:853px;
		height:194px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:34px;
		height:65px;
		position:absolute;
		left:-34px;
		top:195px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:879px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:34px;
		height:65px;
		background:url(../imagesmain/btn_prev.jpg) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(../imagesmain/btn_next.jpg) no-repeat 0 0;	
		
		}	
		

	
/* // Easy Slider */
















p {
line-height: 14px;}


a:link {
COLOR: #FF0000;
}
a:visited {
COLOR: #FF0000;
}
a:hover {
COLOR: #FF0000;
}
a:active {
COLOR: #FF0000;
}




h4 { color: #f4921e; }

.blackheader{
background-color: #000000;
height: 41px;
left: 0;
top: 0;
position: absolute;
width: 100%;
z-index: -2;
text-color: #ffffff;

}

.blackheadertwo{
background-color: #d4d4d4;
height: 48px;
left: 0;
top: 21px;
position: absolute;
width: 100%;

text-color: #ffffff;

}

.blackheaderthree{
background-color: #ee8b30;
height: 228px;
left: 0;
top: 41px;

width: 100%;

text-color: #ffffff;

}

.blackheaderlabel {
text-color: #ffffff;
left: 50%;
float: left;
position: absolute;
width: 100px;
}

.blackheadercontent{
text-color: #ffffff;
float: left;
margin-top: 1px;
width: 162px;
height: 23px;

}

.blackheaderblank {
float: left;
width: 88px;
height: 23px;
background-color: #000000;
}

.blackheadercontentone{
text-color: #ffffff;
float: left;
width: 25px;

}
.blackheadercontenttwo{
text-color: #ffffff;
float: left;
width: 24px;

}

.blackheadercontentthree{
text-color: #ffffff;
float: left;
width: 25px;

}
	
		#twitter {
	background:#000 url(../images/twitteroff.jpg) no-repeat;
	height: 23px;
	width: 25px;
	float: left;

	
	}
	
	#twitter:hover { 
background: url(../images/twitteron.jpg) no-repeat; 
}
	
	#facebook {
	background:#000 url(../images/facebookoff.jpg) no-repeat;
	height: 23px;
	width: 24px;
	float: left;
}

	#facebook:hover { 
background: url(../images/facebookon.jpg) no-repeat; 
}
	
		#youtube {
	background:#000 url(../images/youtubeoff.jpg) no-repeat;
	height: 23px;
	width: 25px;
	float: left;
 
	
	}
	
#youtube:hover { 
background: url(../images/youtubeon.jpg) no-repeat; 
}
	
		
.wrapper, .container {
	background-color: #f3f3f3;
	width: 879px;
	float: left;
	clear: both;
	top: 9px;
	margin: 0px;
	border: hidden;
	margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
	
	}
	
	.wrapper {
  	
  	right: 50%;
  	position:absolute;
	margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
	
}
.container {
  	left: 50%;
	position:absolute;
  margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
  	
}




	
	
	
.navtop { 
    background-color: #000000;
	
	width:879px;
	height:23px;
	float: left;
	
	}
	
#navtoplogo {
	background:#000 url(../images/home_05.jpg) no-repeat;
	width: 92px;
	height: 23px;
	float: left;
	}
	

	
.navtopbar {
	background: url(../images/homepage-mockuplarger-2_06.jpg) no-repeat;
	width: 625px;
	height: 23px;
	float: left;
	}
	
	/* nav styles */
	
.nav {
	background-color: #f3f3f3;
	width: 879px;
	height: 44px;
	float: left;
	clear: both;
	
	
	
}
	#nav ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	#nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	height: 44px;
	}
		#nav ul li a {
			display: block;
			height: 44px;
			
			 color:#000000;
  
   font-weight:normal;
   line-height:30px;
   
   
   text-align:center;
   text-decoration:none;
		}
		


#nav li {
   float:left;
   position: relative;
   padding:0px;
   }


#nav li ul{
   background:#1fb5ff;
   display:none;
   position:absolute;
   width:147px;
   height:auto;
   top: 0;
   left: 0;
   border-width: 3px;
   border-style: solid;
   padding:0px;
   margin:0px;
   z-index:100;
   }
#nav li>ul{
   top: auto;
   left: auto;
   }
#nav li:hover ul {
   display:block;
   }
#nav li li {
   background: url(../images/horiz_line.gif) bottom left no-repeat;
   display:block;
   float:none;
   margin:0px;
   padding:0px;
   width:147px;
   }
#nav li:hover li a {
   background:none;
   }
#nav li ul a{
   display:block;
   height:36px;
   font-size:12px;
   font-style:normal;
   margin:0px;
   padding:7px 10px 0px 15px;
   text-align:left;
   }
#nav li ul a:hover, #nav li ul li:hover a {
   background:#f6c592;
   border:0px;
   color:#000000;
   text-decoration:none;
   }

	
		
	/* button styles */
	#nav_home {
	background:#f3f3f3 url(../images/home_07.jpg) top left no-repeat;
	width:92px;
	
		}
		
		
		


	#nav_media {
	background:#f3f3f3 url(../images/home_08.jpg) top left no-repeat;
	width:153px;
				
}

#nav_reviews {
	background:#f3f3f3 url(../images/home_09.jpg) top left no-repeat;
	width:153px;
				
}

#nav_podcast {
	background:#f3f3f3 url(../images/home_10.jpg) top left no-repeat;
	width:153px;
				
}

#nav_about {
	background:#f3f3f3 url(../images/home_11.jpg) top left no-repeat;
	width:153px;
				
}

#nav_forum {
	background:#f3f3f3 url(../images/home_12.jpg) top left no-repeat;
	width:153px;
				
}

	

#nav_end {
	background:#f3f3f3 url(../images/homepage-mockuplarger-2-extended_13.jpg) top left no-repeat;
	width:22px;
				
}


.navbottom { 
    
	background-color: #f3f3f3;
	width:879px;
	height:24px;
	float: left;
	}
	
#navbottomlogo {
	background:#000 url(../images/home_15.jpg) no-repeat;
	width: 92px;
	height: 24px;
	float: left;
	}
	

	
.navbottombarone {
	background:#000 url(../images/home_16.jpg) no-repeat;
	width: 787px;
	height: 24px;
	float: left;
	}

.fillerone {
	background:#000 url(../images/home_17.jpg) no-repeat;
	width: 879px;
	height: 25px;
	float: left;
	}

.fillertwo{
	background-color: #f3f3f3;
	width: 879px;
	height: 28px;
	float: left;
	}


.contentright {
background-color: #ffedd7;
	width: 153px;
	height: 650px;
	float: left;
	position: absolute;
z-index: 2;
text-color: #fff333;
left: 82.63%;
top: 91px;
}
.contentrightupdates {
width: 148px;

margin: 4px;
overflow: hidden;

}

.squarebuttonbox{
background-color: #f3f3f3;
width: 879px;
height: 250px;
float: left;
}

#newssquare
{
  display: block;
  width: 282px;
  height: 249px;

  
  background: url(../images/gamingnews.jpg) no-repeat 0 0;
  float:left;
}

#newssquare:hover
{
  background-position: 0 -249px;
}

#girlsquare
{
  display: block;
  width: 315px;
  height: 249px;

  
  background: url(../images/girlblog.jpg) no-repeat 0 0;
  float:left;
}

#girlsquare:hover
{
  background-position: 0 -249px;
}

#smokesquare
{
  display: block;
  width: 282px;
  height: 249px;
 
  
  background: url(../images/blowingsmoke.jpg) no-repeat 0 0;
  float:left;
}

#smokesquare:hover
{
  background-position: 0 -249px;
}


.rssheader {
height: 77px;
width: 879px;
 background: url(../images/home_27.jpg) no-repeat 0 0;
 float: left;
 }
 
.updatefeedbox {
width: 879px;
height: 569px;
background-color: #1d1e1f;
float: left;
}

.graybottomz{
background-color: #47484c;
height: 598px;
left: 0;
top: 677px;
position: absolute;
width: 100%;
z-index: -2;
text-color: #ffffff;

}

.footerextendedbar{
background-color: #000000;
height: 37px;
left: 0;
top: 1275px;
position: absolute;
width: 100%;
z-index: -2;
text-color: #ffffff;

}

.blackheaderbottom, .blackheaderbottomwrapper {
	background-color: #000000;
	width: 879px;
	float: left;
	
	
	}


.gaminginpublicfooter {
width: 60px;
height: 37px;
float: left;
margin-top: 13px;
margin-left: 160px;
}
.footerlinks {
width: 500px;
height: 16px;
float: top;
margin-left: 250px;
margin-top: 13px;

}


.blackheaderbottom{
background-color: #000000;
height: 37px;
width: 879px;
left: 50%;
top: 1257px;

position: absolute;

z-index: 98;
color: #ffedd7;

}




a#linkid:link {
COLOR: #FFFFFF;
}
a#linkid:visited {
COLOR: #FFFFFF;
}
a#linkid:hover {
COLOR: #FFFFFF;
}
a#linkid:active {
COLOR: #FFFFFF;
}

.blackheaderbottomwrapper {
right: 50%;
position:absolute;
}



.featuredcontentbody {
width: 564px;
float: left;
height: 183px;
}

.mainfeaturedbody {
background-color: #f3f3f3;
width: 396px;
height: 29px;
float: left;
font-size: 12px;
font-family: arial;



}
.mainfeaturedmargin {
width: 10px;
height: 29px;
float: left;
background: #f3f3f3;
}

.videofeaturedbody {
width: 156px;
float: left;
background-color: #1b1b1b;

}
.videocontenttopbar {
width: 156px;
float: left;
clear: both;
height: 14px;
background: url(../images/vidcontenttopbar.jpg) top left no-repeat;
}

.videocontentbottombar {
width: 156px;
float: left;
clear: both;
height: 14px;
background: url(../images/vidcontentbottombar.jpg) top left no-repeat;
}

.videofeaturebodytype {
width: 150px;
float: left;
color: #ffedd7;
background-color: #1b1b1b;
margin-left: 2%;

}







.newscontainer {
width: 564px;
clear: both;
float:left;
height: 223px;
}

.newscontainertop {
width: 564px;
height: 52px;
float: left;
clear: both;
background: url(../images/homepage-mockuplarger-news-box_24.jpg) top left no-repeat;
}

.newscontainerleft {
width: 14px;
height: 164px;
float: left;
background: url(../images/homepage-mockuplarger-news-box_25.jpg) top left no-repeat;
}

.newscontainercenter {
float: left;
height: 164px;
width: 528px;
background: #f3f3f3;
}

.newscontainerright {
width: 22px;
height: 164px;
float: left;
background: url(../images/homepage-mockuplarger-news-box_27.jpg) top left no-repeat;
}

.newscontainerbottom {
width: 564px;
height: 7px;
float:left;
clear:both ;
background: url(../images/homepage-mockuplarger-news-box_28.jpg) top left no-repeat;
}
.newscontentcentercontainer {
width: 564px;
height: 164px;
clear: both;
float: left;
}






